<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:image" content="http://themepixels.me/azia/img/azia-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/azia/img/azia-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">


    <title>Acceso Sistema Boletas GDT</title>

    <!-- vendor css -->
    <link href="~/Content/assets/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Content/assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/lib/typicons.font/typicons.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/azia.css">

</head>
<body class="az-body">
    <input type="hidden" name="basePath" id="basePath" value="@Request.Url.Scheme://@((Request.Url.Authority + Request.ApplicationPath).TrimEnd('/'))/" />
    @RenderBody()

    <script src="~/Content/assets/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/lib/ionicons/ionicons.js"></script>

    <script src="~/Content/assets/js/azia.js"></script>
    <script>
        $(function () {
            'use strict'

        });
    </script>
</body>

</html>